
{{/*

Print a list or a single post

Usage:
  # Get a list of posts in a category
    {{< post category="zynq" >}}

  # Get a single post by its file name
    {{< post name="pitaya-linux.md" >}}

*/}}

<div class="posts-wrapper">
  {{ if .IsNamedParams }}
    {{ if .Get "category" }}
      {{ $cat := .Get "category" }}
        <hr>
        <dl>
        {{ range (where .Site.Pages "Type" "posts").Reverse | first 5 }}
          {{ if in .Params.category $cat }}


<div class="posts-container">
    {{ with .Params.image }}
    <div class="left" style="background-image: url({{ . | absURL }});">
        {{ end }}
    </div>
    <div class="right">
        <div style="width: 100%; overflow: hidden;">
            <div style="float: left; margin-right: 0.5em"> <span class="badge badge-secondary">{{ .Date.Format "Jan 2, 2006" }}</span> </div>
            <div style="margin-left: 620px;"></div>
            <dt><a href="{{ .URL }}">{{ .Title }}</a></dt>
        </div>
        <dd>{{ .Description | markdownify }}</dd>
    </div>
</div>

              


              <hr>
          {{ end }}
        {{ end }}
        </dl>
    {{ else }}
        {{ $name := .Get "name" }}
        {{ with .Site.GetPage $name }}
          <hr>
          <dt><a href="{{ .URL }}">{{ .Title }}</a></dt>
          <dd>{{ .Description | markdownify }}</dd>
          <hr>
        {{ end }}
    {{ end }}
  {{ end }}
</div>
