<section id="case_studies">
    <div class="case-studies">
        <div class="header">
            <h1 class="title">{{ .Site.Params.case_studies.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.case_studies.Subtitle }}</h2>
        </div>
        <div class="case-studies-wrapper">
            {{ $baseUrl := .Site.BaseURL }}
            {{ range where .Site.Pages "Type" "projects" }}
                {{ if .Params.case_short_title }}
                <div class="case-study-item">
                    <div class="case-study-item-img-container" style="">
                        <a href="{{ .URL }}"><img src="{{ $baseUrl }}img/{{ .Params.thumbnail }}" alt=""></a>
                    </div>
                    <h4>{{ .Params.case_short_title }}</h4>
                    <h5>{{ .Params.case_subtitle }}</h5>
                    <p>{{ .Params.case_description }}</p>
                    <div class="flex-fill"></div>
                    <a href="{{ .URL }}" class="read-more">Read More</a>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
