{{ $experience := .Site.Data.experience }}
<section data-scroll-index="1">
  <div class="process">
    <div class="header">
        <h1 class="title">{{ .Site.Params.Experience.Title }}</h1>
        <h2 class="subtitle">{{ .Site.Params.Experience.Subtitle }}</h2>
    </div>
    <div id="timeline">
      {{ range $index, $element := $experience.experience }}

      <div class="timeline-item clearfix">
        <div class="timeline-icon"></div>
        
        <div class="timeline-content {{ if eq (mod $index 2) 0 }} right {{ end }}">
          <span class="date">{{ $element.timeperiod }}</span>
          <h3 class="">{{ $element.company }}</h6>
          <h5 class="">{{ $element.position }}</h6>
          <p class="">{{ $element.description | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>

  </div>
</section>