<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- <title>{{ .Site.Title }}</title> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="{{ .Site.Params.theme_color }}">
<meta name="description" content="{{ .Site.Params.Description }}">
<meta property="og:description" content="{{ .Site.Params.Description }}">
<meta name="twitter:description" content="{{ .Site.Params.Description }}">
<meta property="og:image" content="{{ .Site.BaseURL }}img/{{ .Site.Params.description_photo }}">
<meta name="twitter:image" content="{{ .Site.BaseURL }}img/{{ .Site.Params.description_photo }}">
<!-- 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="{{ .Site.BaseURL }}js/main.js"></script>

<link rel="icon" href="{{ .Site.BaseURL }}img/{{ .Site.Params.Favicon }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}img/{{ .Site.Params.Favicon }}" type="image/x-icon">

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/final.css">
 -->

<!-- CSS -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="
sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/final.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">


<!-- Js -->
<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>


<!-- Font awesome -->