<section id="hero-section" style="background-image: url('img/{{ .Site.Params.Hero.background }}')" id="scroll-element" data-scroll-index="0">
    <div class="hero">
        <div class="hero-left">
            <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.Hero.Avatar }}" style="max-width: 50%; border-radius: 50%; " alt="{{ .Site.Params.myname }}">
            <h1 class="subtitle">{{ .Site.Params.Hero.subtitle }}</h2>
            
            <div class="icons">
                {{ if isset .Site.Params.Hero "email" }}
                    <a href="mailto:{{ .Site.Params.Hero.email }}">
                        <i class="fas fa-envelope"></i>
                    </a>
                {{ end }}
                {{ if isset .Site.Params.Hero "facebook" }}
                    <a href="{{ .Site.Params.Hero.facebook }}" target="blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                {{ end }}
                {{ if isset .Site.Params.Hero "linkedin" }}
                    <a href="{{ .Site.Params.Hero.linkedin }}" target="blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                {{ end }}
                {{ if isset .Site.Params.Hero "github" }}
                    <a href="{{ .Site.Params.Hero.github }}" target="blank">
                        <i class="fab fa-github"></i>
                    </a>
                {{ end }}
                {{ if isset .Site.Params.Hero "twitter" }}
                    <a href="{{ .Site.Params.Hero.twitter }}" target="blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                {{ end }}
            </div>

            <div class="landing-buttons">
                {{ if isset .Site.Params.Hero "button1text" }}
                <a class="btn btn-primary" href="{{ .Site.Params.Hero.button1url }}" role="button">{{ .Site.Params.Hero.button1text }}</a>
                {{ end }}
            </div>

            {{ if isset .Site.Params.Hero "resume" }}
            <a href="{{ .Site.BaseURL }}{{ .Site.Params.Hero.Resume }}" target="blank" class="download-resume" onclick="ga('send', {hitType: 'event',eventCategory: 'CTA',eventAction: 'download'});">
                <img style="position: relative;top: 1.8px;padding-right: 6px;" src="svg/dl-resume.svg">
                Download Resume</a>
            {{ end }}
        </div>
        <div class="hero-right">
            {{ range $paragraph := .Site.Params.Hero.hero_right }}
                <p>{{ $paragraph | markdownify }}</p>
            {{ end }}
        </div>
    </div>
</section>
