<section id="resume">
    <div class="process">
        <div class="header">
            <h1 class="title">{{ .Site.Params.Resume.Title }}</h1>
        </div>

        <h2 class="subtitle">{{ .Site.Params.Resume.Subtitle1 }}</h2>
        <div class="process-wrapper">
            {{ range $element := sort .Site.Data.resume.professional "weight" }}
            <div class="process-item">
                <figure class="item-header">
                    <i class="fas fa-{{ $element.faicon }}"></i>
                    <h3>{{ $element.title }}</h3>
                </figure>
                <p>{{ $element.description }}</p>
            </div>
            {{ end }}
        </div>

        <h2 class="subtitle">{{ .Site.Params.Resume.Subtitle2 }}</h2>
        <div class="process-wrapper">
            {{ range $element := sort .Site.Data.resume.social "weight" }}
            <div class="process-item">
                <figure class="item-header">
                    <i class="fas fa-{{ $element.faicon }}"></i>
                    <h3>{{ $element.title }}</h3>
                </figure>
                <p>{{ $element.description }}</p>
            </div>
            {{ end }}

            {{ if eq (mod (len .Site.Data.resume.social) 3) 1}}
                <div class="process-item"></div>
                <div class="process-item"></div>
            {{ end }}
            {{ if eq (mod (len .Site.Data.resume.social) 3) 2}}
                <div class="process-item"></div>
            {{ end }}
        </div>
    </div>
</section>