
@import url('https://fonts.googleapis.com/css?family=Jaldi|Open+Sans');

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /*scroll-behavior: smooth;*/
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

a:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jaldi', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}


footer {
  padding: 30px 30px 30px 30px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex !important;
  justify-content: space-between;
  border-bottom: 1px solid #F0F0F0;
}

.main-navigation {
  z-index: 999;
  width: 100%;
  background: white;
  height: 68px;
  padding: 0;
  margin: 0;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-navigation {
  max-width: 445px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation h4 {
  position: absolute;
  left: 90px;
  top: 3px;
  color: #777777;
}

@media all and (max-width: 400px) {
  .main-navigation h5 {
    top: 7px;
    font-size: 12px;
  }
}

.main-navigation-link {
  color: #686868;
  padding: 15px;
  display: -webkit-box;
  text-align: center !important;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  border-left: 1px solid #F0F0F0;
}

.icons a {
  /*width: 100px;*/
  text-align: center;
  font-size: 25px;
  padding: 4px;
  color: black;
}

@media all and (max-width: 460px) {
  .main-navigation-link {
    font-size: 13px;
    padding: 15px;
  }
  #about {
    display: none;
  }
  #process-link {
    display: none !important;
  }
}

.logo:hover, .main-navigation-link:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
}

.logo {
  width: 68px;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

section {
  padding-top: 68px;
  padding-bottom: 70px;
  border-bottom: 1px solid #F0F0F0;
  padding-left: 30px;
  padding-right: 30px;
}

#hero-section {
  padding-top: 120px; 
  background-repeat: repeat-x;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
}

.process {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.case-studies {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hi {
  font-size: 42px;
  line-height: 0.4em;
}

.subtitle {
  font-size: 28px;
  color: #04395E;
  font-weight: 300;
}

.hero-left {
  width: 400px;
}

.hero-right {
  width: 500px;
  background: white;
  border-radius: 2px;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

.hero-right p {
  /* color: #929292; */
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  /* line-height: 25px; */
  line-height: 1.8em;
}

.hero-right em {
  font-style: normal !important;
}

.hero-right p a {
  color: #04395E;
  text-decoration: underline;
}

.icons {
  width: 160px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.download-resume {
  /* Rectangle 3: */
  display: inline-block;
  margin-top: 20px;
  background: #04395E;
  /* Download Resume: */
  font-size: 15px;
  /*padding: 15px 50px;*/
  color: #C3D5FF;
  padding: 18px 0;
  width: 296px;
  text-align: center;
  letter-spacing: 0;
  border-radius: 2px;
}

.title {
  /* My Process: */
  font-weight: bold;
  margin: 0;
  font-size: 44px;
  color: #000000;
  letter-spacing: 0;
}

.process-item {
  max-width: 300px;
  width: 300px;
  padding-top: 20px;
}

.process-item h3 {
  margin-left: 15px;
}

.process-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  margin: 0;
  height: 35px;
}

.process-item i {
  font-size: 28px;
  width: 30px;
  text-align: center;
}

.process-item p {
  /* I collaborate with s: */
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  line-height: 1.8em;
}

.process-item h3 {
  /* Discover: */
  font-size: 28px;
  color: #04395E;
  letter-spacing: 0;
}

.cs-featured-image {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Position text in the middle of the page/image */
.cs-title {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.case-studies-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
     -ms-flex-align: stretch;
        align-items: stretch;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: flex-start;
}

.case-study-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin-top: 45px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  position: relative;
}

.case-study-item h4 {
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 0.8em;
}

.case-study-item h5 {
  font-size: 13px;
  font-weight: 700;
  color: #5A5A5A;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.case-study-item p {
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
}
.flex-fill {
  flex: 1 0 auto;
}
.read-more {
  padding: 1.5em 0;
  width: 100%;
  border: solid 2px #E1E1E1;
  text-align: center;
  color: #04395E;
  font-weight: 500;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 2px;
}

.main-case-study {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.results-content {
  max-width: 900px;
  color: black;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.results-content img {
  margin-top: 40px;
  max-width: 70px;
  border-radius: 100%;
}

.results-content h1 {
  font-size: 24px;
  line-height: 1.6em;
  font-weight: 300;
}

.results-content h2 {
  font-size: 25px;
  line-height: 1em;
  font-weight: 300;
  margin: 0;
  margin-top: 0.3em;

}

.results-content h3 {
  margin: 0;
  margin-top: 0.4em;
  padding-bottom: 35px;
}

.results-content hr {
  width: 30px;
  border: 3px solid #04395E;
}

.main-case-study img {
  max-width: 100%;
}

.main-case-study .title {
  line-height: 1em;
  margin-top: 20px;
}

.main-case-study .subtitle {
  /* Mobile App Design: */
  font-weight: bold;
  font-size: 22px;
  color: #04395E;
  letter-spacing: 0;
}

.main-case-study .summary {
  font-weight: 300;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  line-height: 39px;
}

.case-study-item img {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.case-details {
  margin: 0;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.case-links {
  margin-top: 26px;
  text-align: center;
}

.link-div {
  display: inline-block;
  padding: 15px 15px 15px 0;
}

.case-links img {
  position: relative;
  top: 2.9px;
  padding-right: 8px;
}

.case-detail-link {
  padding: 15px 30px;
  /* border: 1px solid #fafafa; */
  color: #04395E;
  border-radius: 2px;
  background: #f1f1f1;
  margin-right: 1em;
}


#timeline {
  width: 100%;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #000;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 0;
  position: absolute;
}

#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#timeline .timeline-item {
  margin-bottom: -30px;
  position: relative;
  text-align: right;
  overflow: auto;
}

#timeline .timeline-item .timeline-icon {
  background: #000;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -10px;
  border-radius: 50%;
}

#timeline .timeline-item h3 {
  margin-bottom: 5px;
  color: #04395E;
}

#timeline .timeline-item h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

#timeline .timeline-item .timeline-content {
  width: 45%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#timeline .timeline-item .timeline-content p {
  color: #777777;
  margin-top: 5px;
}

#timeline .timeline-item .timeline-content .date {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 3px;
}

#timeline .timeline-item .timeline-content.right {
  text-align: left;
  float: right;
}

@media (max-width: 767px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
    margin-left: 10px;
  }
  #timeline .timeline-item {
    margin-bottom: 30px;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
    text-align: left;
  }
  #timeline .timeline-item .timeline-content:before,
  #timeline .timeline-item .timeline-content .right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
    margin-left: 0;
  }
}

@media all and (max-width: 981px) {
  .hero-left {
    margin: 0 auto;
    text-align: center;
  }
  .hero-left .icons {
    margin: 0 auto;
    justify-content: center;
  }
}

@media all and (max-width: 842px) {
  .link-div {
    display: block;
  }
  .case-detail-link {
      display: block;
      width: 100%;
      padding:25px;
      text-align: center;
  }
}

.content-case-study {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.content-case-study p {
  font-size: 19px;
  color: #676767;
  letter-spacing: 0;
  line-height: 30px;
}

.content-case-study img {
  max-width: 100%;
  margin-top: 20px;
}

.content-case-study a {
  color: #04395E;
  text-decoration: underline;
}

.content-case-study h1 {
  
}

@media all and (max-width: 513px) {
  .case-details {
    justify-content: flex-start;
  }
  .download-resume {
    display: block;
    width: 100%;
  }
  .case-details-item {
    padding-right: 25px !important;
  }
}

.case-details-item {
  padding-right: 20px;
}

.case-details-item strong {
  font-weight: bold;
}

.case-details-item p {
  line-height: 1.8em;
  font-size: 16px;
}

@media all and (max-width:1040px) {
  .case-study-item {
    max-width: 40%;
  }
  .case-studies-wrapper {
    margin-top: 0;
  }
}

@media all and (max-width:980px) {
  .hero-right {
    width: 100%;
    box-shadow: none;
  }
  .process-item {
    max-width: 45%;
  }
}

@media all and (max-width: 728px) {
  .case-study-item {
    max-width: 100%;
  }
  .case-study-item:first-of-type {
    margin-top: 13px;
  }
  .hi, .title {
    font-size: 40px;
  }
  .process-item h3 {
    font-size: 24px;
  }
  .subtitle {
    font-size: 24px;
  }
  section {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  #scroll-element {
    padding-top: 100px !important;
  }
}

@media all and (max-width:500px) {
  .process-item {
    max-width: 100%;
  }
}

.active {
  color: #04395E !important;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #04395E;
}

/*----------------------------------------------------
  Recent posts
  ----------------------------------------------------*/

.recent-posts {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*----------------------------------------------------
  Single post
  ----------------------------------------------------*/
.post-jumbo-img {
  max-width: 100%;
}

.content-post {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.content-post p {
  font-size: 19px;
  color: #676767;
  letter-spacing: 0;
  line-height: 30px;
}

.content-post img {
  max-width: 100%;
  margin-top: 20px;
}

.content-post a {
  color: #04395E;
  text-decoration: underline;
}

.content-post h1 {
  margin: 0;
  text-align: center;
  font-size: 4em;
}

/* Code box */
.highlight pre {
    padding: 0.5em;
}

#TableOfContents ul {
  list-style-type: none;
}
/* Fix indentation of all the toc */
#TableOfContents ul:first-child {
    padding-left: 0;
}


/*----------------------------------------------------
  Back to top button
  ----------------------------------------------------*/
#bttbutton {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#bttbutton::after {
  content: "\f106";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#bttbutton:hover {
  cursor: pointer;
  background-color: #333;
}
#bttbutton:active {
  background-color: #555;
}
#bttbutton.show {
  opacity: 1;
  visibility: visible;
}

/*----------------------------------------------------
  Nav
  ----------------------------------------------------*/
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/*----------------------------------------------------
  404
  ----------------------------------------------------*/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/*----------------------------------------------------
  Jumbotron
  ----------------------------------------------------*/
.jumbotron {
  background-size: 100%;
  border-radius: 0;
  min-height: 400px;
}

@media all and (max-width: 842px) {
  .jumbotron {
    min-height: 200px;
  }
}
.posts-wrapper {
  background-color: rgba(52, 58, 64, 0.02);
  padding: 0em;
  margin-left: 5%;
  margin-right: 5%;
}

.posts-wrapper hr:first-child {
  margin-top: 0;
}

.posts-container {
  /* display: table; */
  display: inline-block;
  vertical-align: top;  
}
.posts-container .left {
  /* position: absolute; */
  height: 6em;
  width: 12em;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.posts-container .right {
  display: inline-block;
  vertical-align: top;
}

/*----------------------------------------------------
  scrollprogress badge
  ----------------------------------------------------*/
.progressCounter {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
}
.progressCounter.show {
  opacity: 1;
  visibility: visible;
}

/*----------------------------------------------------
  Comments section
  ----------------------------------------------------*/
.utterances {
  /* margin-left: auto;
  margin-right: auto; */
}