<section data-scroll-index="1">
    <div class="process">
        <div class="header">
            <h1 class="title">{{ .Site.Params.Resume.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.Resume.Subtitle }}</h2>
        </div>
        <div class="process-wrapper">
            {{ range $element := sort .Site.Data.resume "weight" }}
            <div class="process-item">
                <figure class="item-header">
                    <i class="fas fa-{{ $element.faicon }}"></i>
                    <h3>{{ $element.title }}</h3>
                </figure>
                <p>{{ $element.description }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</section>