<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head_global.html" . }}
    </head>
    <body>
        {{ partial "nav_blog.html" . }}

        <section>
            {{ with .Params.jumbo }}<img src="{{ . | absURL }}" alt="post-image" class="img-responsive post-jumbo-img">{{ end }}
            <div class="content-post">
            <h1>{{ .Title }}</h1>
            <p style="text-align:center;margin-top: 0.5em;">
                <strong>Posted on</strong> {{ .Date.Format "Jan 2nd 2006" }} 
                <strong>By</strong> {{ .Params.Author }} 
            </p>

            <hr>
            {{.TableOfContents}}
            {{ .Content }}
            </div>
        </section>

        {{ if .Site.Params.footer.enable }}
        {{ partial "footer.html" . }}
        {{ end }}

        {{ partial "scripts.html" . }}
    </body>
</html>
