<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <a id="bttbutton" class="bg-dark"></a>
        <div class="progressCounter"></div>
        {{ partial "nav.html" . }}


        {{ with .Params.jumbo }}
            <div class="jumbotron" style="background: url({{ . | absURL }}) no-repeat center center;">
            </div>
        {{ end }}

        <section>
            <div class="content-post">
            <h1>{{ .Title }}</h1>
            <p style="text-align:center;margin-top: 0.5em;">
                <strong>Posted on</strong> {{ .Date.Format "Jan 2nd 2006" }} 
                <strong>By</strong> {{ .Params.Author }} 
            </p>

            <hr>
            <h2>Description</h2>
            <p>{{ .Params.description | markdownify }}</p>

            <h2>Table of Contents</h2>
            {{.TableOfContents}}
            {{ .Content }}
            </div>
        </section>

        {{ if .Site.Params.footer.enable }}
        {{ partial "footer.html" . }}
        {{ end }}
    </body>
</html>
