<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ partial "nav.html" . }}

        {{ with .Params.jumbo }}
            <div class="jumbotron" style="background-image: url({{ . | absURL }});">
            </div>
        {{ end }}

        <section>

            <div class="content-post">
            <h1>{{ .Title }}</h1>
            <p style="text-align:center;margin-top: 0.5em;">
                {{ .Params.subtitle }} 
            </p>

            <hr>

            {{ .Content }}

            </div>
        </section>

        {{ if .Site.Params.footer.enable }}
        {{ partial "footer.html" . }}
        {{ end }}
    </body>
</html>
